<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule !.(js|gif|jpg|jpeg|png|css|txt|svg|xml|ico|json|woff|otf|eot|ttf|woff2|pdf|webmanifest)$ public/index.php [L]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
