{% macro googleAnalytics() %}
    {% if app_google_analytics is not null %}
        <link rel="dns-prefetch" href="https://www.google-analytics.com">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ app_google_analytics }}"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "{{ app_google_analytics }}");</script>
    {% endif %}
{% endmacro %}

{% macro histats() %}
    {% if app_histats is not null %}
        <!-- Histats.com  START  (aync)-->
        <script type="text/javascript">var _Hasync = _Hasync || [];
            _Hasync.push(["Histats.start", "1,{{ app_histats }},4,0,0,0,00010000"]);
            _Hasync.push(["Histats.fasi", "1"]);
            _Hasync.push(["Histats.track_hits", ""]);
            (function () {
                var hs = document.createElement("script");
                hs.type ="text/javascript";
                hs.async = true;
                hs.src = ("//s10.histats.com/js15_as.js");
                (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(hs);
            })();
        </script>
        <noscript>
            <a href="/" target="_blank">
                <img src="//sstatic1.histats.com/0.gif?{{ app_histats }}&101" alt="free webpage hit counter" border="0">
            </a>
        </noscript>
        <!-- Histats.com  END  -->
    {% endif %}
{% endmacro %}

{% macro cookieConsent() %}
    {% if app_cookie_consent %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.css" integrity="sha256-zQ0LblD/Af8vOppw18+2anxsuaz3pWYyVWi+bTvTH8Q=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" integrity="sha256-5VhCqFam2Cn+yjw61zbBNrbHVJ6SRydPeKopYlngbiQ=" crossorigin="anonymous"></script>
        <script>window.addEventListener("load", function(){window.cookieconsent.initialise({"palette": {"popup": {"background": "#000"},"button": {"background": "#f1d600"}}})});</script>
    {% endif %}
{% endmacro %}